# Core:
#rubberband
yapf
icecream
lux
python-dateutil
pip
utils
python-dotenv
poetry



# Data Analysis libraries:

numpy
pandas
scikit-learn
scipy
#statsmodels
patsy

# multi-agent frameworks
crewai
crewai[tools]
#llama-index

# Data visualization libraries:
matplotlib
seaborn
plotly

# Notebook related:
jupyter<2.0.0
notebook==6.4.12
traitlets==5.9.0
jupyterthemes
ipykernel
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
