# Core:
#rubberband
yapf
icecream
lux
python-dateutil
utils
python-dotenv
poetry

# Data Analysis libraries:

numpy
pandas
scikit-learn
scipy
#statsmodels
patsy

# multi-agent frameworks
crewai
crewai[tools]
#llama-index

# Data visualization libraries:
matplotlib
seaborn
plotly

# Notebook related:
jupyterlab
#jupyterlab_tabnine
jupyter-ai
jupyter-resource-usage
lckr_jupyterlab_variableinspector
jupyter_scheduler
jupyterlab-lsp
genv
jupyterlab_vim
jupyterlab-git
stickyland

# Internet tools
duckduckgo-search
